.contactsBlock {
    background-color: #212529;
}
.formContainer {
    width: 70%;
    align-items: stretch;
    margin-top: 70px;
}
.formContainer input, textarea {
    width: 100%;
}

@media screen and (max-width: 499px){
    .formContainer{
        width: 85%;
    }
}

