@dev-border: 1px solid black;
@sidebar-width: 200px;
@header-height: 80px;
@skill-card-width: 300px;
@laptop: 1439px;
@tablet: 1023px;
@mobile-horizontal: 767px;
@mobile-vertical: 374px;
@content-block-padding: 0 100px;
@tablet-content-block-padding: 0 50px;
@sidebar-background: #111418;
@green-color: #20c997;
@green-hovered-color: #1baa80;
@main-background-dark: #212529;
@main-background-light: #343a40;
@card-description-color: rgba(255, 255, 255, .5);
@title-color: rgba(255, 255, 255, 1);
@footer-icons-color: #aab1b8;
@error-text: rgb(212, 106, 106);
@about-me-background-image: "/src/assets/test-start-page.jpg";


.text-props(@fontSize) {
  font-family: 'Poppins', sans-serif;
  font-size: @fontSize;
  color: rgba(255,255,255,1);
  line-height: 1.5;
}

.flex-column(@justify, @align) {
  display: flex;
  flex-direction: column;
  justify-content: @justify;
  align-items: @align;
}

.flex-basic(@justify, @align) {
  display: flex;
  flex-direction: row;
  justify-content: @justify;
  align-items: @align;
}

.divider(@width, @height, @bottom, @left) {
  content: '';
  position: absolute;
  background: @green-color;
  width: @width;
  height: @height;
  bottom: @bottom;
  left: @left;
  //transform: translate(-50%, 10px);
}
.list-item-before-element (@scale, @color, @left) {
  &:before {
    position: absolute;
    content: '';
    top: 25%;
    left: @left;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    scale: @scale;
    background-color: @color;
  }
}
