@import "_variables";

.blog {
  &-cards-wrapper {
    .flex-basic(space-around, center);
    flex-wrap: wrap;
    margin-top: 70px;
    padding-bottom: 50px;
    @media (max-width: @tablet) {
      .flex-column(center, center);
      gap: 20px;
    }
  }

  &-card {
    flex: 0 0 29%;
    cursor: pointer;
    background-color: @main-background-light;
    overflow: hidden;
    border-radius: 10px;

    &.mouse-prevent-wrapper {
      pointer-events: all;
    }

    .overflow-wrapper {
      overflow: hidden;
    }

    .image-container {
      transition: all 0.5s;
      height: 200px;
      position: relative;
      background-size: cover;
      background-position-x: right;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
      }

      &.hovered {
        transition: all 0.3s;
        scale: 1.2;
      }
    }

    .divider {
      position: relative;

      &:after {
        .divider(100%, 3px, -100%, 0);
      }
    }

    .details {
      padding: 10px;
      max-height: 200px;
      overflow: hidden;

      .title {
        .text-props(1.4rem);
        font-weight: 600;
        color: @title-color;
        display: block;
        margin-bottom: 10px;
      }

      .description {
        .text-props(1.3rem);
        color: @card-description-color;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }
  }

  &-modal {
    background-color: @main-background-dark;
    width: 100%;
    overflow: hidden;
    padding: 10px;
    .article-header {
      padding: 0 80px;
      margin-top: 30px;
      @media (max-width: @mobile-horizontal) {
        padding: 0 10px;
      }
      &-image {
        pointer-events: all;
        width: 100%;
        .flex-basic(flex-start, flex-start);
        div {
          background-size: cover;
          height: 200px;
          width: 100%;
          margin: 0 20px 0 80px;
          @media (max-width: @mobile-horizontal) {
            margin: 0 20px 0 10px;
          }
        }
        button {
          background-color: transparent;
        }
      }
    }
    h4 {
      .text-props(1.4rem);
      font-weight: 600;
      color: @title-color;
      display: block;
      margin-bottom: 10px;
    }
    .date {
      .flex-basic(flex-start, center);
      color: @title-color;
      .text-props(1rem);
      margin-bottom: 15px;
      span {
        margin-left: 5px;
      }
    }
    .tags {
      .flex-basic(flex-start, center);
      color: @title-color;
      flex-wrap: wrap;
      .text-props(1rem);
      gap: 15px;
      span {
        margin-left: 5px;
      }
    }
    p {
      .text-props(1.3rem);
      line-height: 1.7;
      color: @title-color;
      padding: 40px 80px;
      @media (max-width: @mobile-horizontal) {
        padding: 20px 10px;
      }
    }
  }
}
