@import "_variables";

.layout {
  margin-left: @sidebar-width;
}

.light-block-wrapper {
  background: @main-background-light;
  &.full-screen-height {
    min-height: 100vh;
  }
  &.with-background-image {
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ), url(@about-me-background-image);
    background-size: cover;
  }
}

.dark-block-wrapper {
  background: @main-background-dark;
  &.full-screen-height {
    min-height: 100vh;
  }
}

.content-block-container {
  height: 100%;
  .basicFlex(center, center)
}

.card {
  &-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 70px;
  }
  &-container {
    border: @dev-border;
    width: @card-width;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  &-title {
    color: rgba(255, 255, 255, 1);
  }
  &-description {
    color: rgba(255, 255, 255, .5);
  }
}

