@import "_variables";

.light-block-wrapper {
  background: @main-background-light;

  &.full-screen-height {
    min-height: 100vh;
  }

  &.with-background-image {
    background: url(@about-me-background-image) no-repeat top 35% left 0;
    background-size: cover;
  }
}

.dark-block-wrapper {
  background: @main-background-dark;

  &.full-screen-height {
    min-height: 100vh;
  }
}

.my-button {
  border-color: @green-color;
  padding: 0.8rem 2.6rem;
  font-weight: 500;
  border-width: 2px;
  transition: all 0.5s ease;
  box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
  &.is-transparent {
    background-color: transparent;
  }
  &.is-rounded {
    border-radius: 100px;
  }
  &.is-green {
    background-color: @green-color;
    color: @title-color;
    &:hover {
      background-color: @green-hovered-color;
    }
  }
  &:hover {
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.7);
  }
}
