@import "_variables";

.cv {

  .flex-column(center, center);

  &-wrapper {
    width: 100%;
    .flex-basic(space-between, flex-start);
    margin-top: 50px;
  }

  .skills {
    &-wrapper {
      width: 49%;
      .flex-column(flex-start, flex-start);
      gap: 50px;
    }

    &.card {
      &-container {
        max-width: 500px;
        box-sizing: border-box;
        .flex-basic(center, flex-start);
        gap: 15px;
      }

      &-title {
        .text-props(1.6rem);
        color: @title-color;
      }

      &-description {
        .text-props(1.3rem);
        color: @card-description-color;
        .flex-basic(flex-start, center);
        flex-wrap: wrap;
        margin-left: 20px;

        li {
          margin-right: 30px;
          position: relative;

          &:before {
            position: absolute;
            content: '';
            top: 25%;
            left: -20px;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            scale: 0.7;
            background-color: @card-description-color;
          }
        }
      }
    }
  }

  .education {
    &-wrapper {
      width: 49%;
      .flex-column(flex-start, center);
      gap: 30px;
    }
    &.card {
      &-container {
        .flex-column(flex-start, flex-start);
        gap: 10px;
        width: 100%;
        background-color: @main-background-light;
        padding: 10px;
        border-radius: 15px;
        .period {
          .text-props(1rem);
          color: @title-color;
          background-color: @error-text;
          border-radius: 5px;
          padding: 3px;
        }
        .org-title {
          .text-props(1.4rem);
          color: @title-color;
          font-weight: 500;
        }
        .speciality {
          .text-props(1.2rem);
          color: @green-hovered-color;
        }
      }
    }
  }

  .experience {

  }
}