@import "_variables";

.project-card {
  &.container {
    position: relative;
    height: 250px;
    border-radius: 10px;
    &:before {
      //transition: all 1s;
      //content: "";
      //position: absolute;
      //top: 0;
      //left: 0;
      //right: 50%;
      //bottom: 0;
      ////background-image: url('../assets/projectCards/ntDevLanding/cover.png');
      //background-size: cover;
      //background-position: center;
      //filter: none;
      //box-shadow: 5px 5px 5px @main-background-dark;
      //border-radius: 10px;
    }

    //&:hover {
    //  &:before {
    //    content: "";
    //    position: absolute;
    //    top: 0;
    //    left: 0;
    //    right: 50%;
    //    bottom: 0;
    //    //background-image: url('../assets/projectCards/ntDevLanding/cover.png');
    //    background-size: cover;
    //    background-position: center;
    //    filter: blur(3px);
    //    transition: all 1s;
    //    border-radiqus: 10px;
    //  }
    //}

    img {
      //max-width: 50%;
      //height: auto;
    }
  }
}

.picture {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightcoral;
}
