@import "_variables";


.projects-cards{

  &-wrapper {
    margin-top: 70px;
    padding: 30px;
    //.flex-basic(space-around, center);
    //flex-wrap: wrap;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
  }
}
