@import "_variables";

.project-card {
  .flex-column(center, center);

  .background {
    transition: all 0.5s;
    position: absolute;
    inset: 0 0;
    background-size: cover;
    background-position-x: right;
    filter: none;
    border-radius: 10px;

    &:before {
      transition: all 0.5s;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
    }

    &:hover {
      filter: blur(2px);
      box-shadow: none;
      scale: 1.05;

      &:before {
        transition: all 1s;
        background-color: rgba(0, 0, 0, 0.7);
      }
    }
  }

  .container {
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    transition: all 1s;
    overflow: hidden;
    box-shadow: 5px 5px 5px #212529;
  }

  .text-container {
    position: relative;
    pointer-events: none;
    height: 100%;
    padding: 10px;
    .flex-column(space-around, center);

    .title {
      .text-props(1.4rem);
      transition: all 0.5s;
      opacity: 0;
      font-weight: 600;
      color: @title-color;
      text-align: center;
    }
    .stack {
      .text-props(1.2rem);
      transition: all 0.5s;
      opacity: 0;
      color: @title-color;
      .flex-basic(space-around, center);
      flex-wrap: wrap;
      gap: 20px;

      li {
        position: relative;
        .list-item-before-element(0.5, @title-color, -15px);
      }
    }

    span {
      transition: all 0.5s;
      opacity: 0;
      .text-props(1.2rem);
      color: @title-color;
    }

    &.active .title {
      opacity: 1;
    }
    &.active .stack {
      opacity: 1;
    }
    &.active span {
      opacity: 1;
    }
  }

}