@import "_variables";


.project-cards{

  &-wrapper {
    margin-top: 70px;
    padding: 10px;
  }
  &-container {
    width: 100%;
    border: @dev-border;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    opacity: 0.1;
    transition: opacity 0.5s;
    &:hover {
      opacity: 1;
    }
  }
}
