@import "_variables";

.skills {
  .flex-column(center, center);
  &-wrapper {
    .flex-basic(center, flex-start);
  }
  .cards {
    &-wrapper {
      width: 100%;
      .flex-basic(space-between, flex-start);
      flex-wrap: wrap;
    }
  }

  .card {
    &-container {
      max-width: 500px;
      padding: 15px;
      box-sizing: border-box;
      .flex-basic(center, center);
      gap: 30px;
    }

    &-title {
      .text-props(2rem);
      @media (max-width: @tablet) {
        .text-props(2rem);
      }
      color: @title-color;
    }

    &-description {
      .text-props(1.3rem);
      color: @card-description-color;
      .flex-basic(flex-start, center);
      flex-wrap: wrap;

      @media (max-width: @mobile) {
        .flex-basic(center, flex-start);
        width: 100%;
        max-height: 200px;
        flex-wrap: wrap;
      }

      li {
        margin-top: 10px;
        margin-right: 40px;
        position: relative;


        &:before {
          position: absolute;
          content: '';
          top: 25%;
          left: -20px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          scale: 0.7;
          background-color: @card-description-color;
        }
      }
    }
  }
}

.icon {
  img {
    width: 75px;
    height: 75px;
    object-fit: contain;
    object-position: center;
    padding: 5px;
  }
}

