@import "_variables";

.skills-block-container {
    .columnFlex(center, center)
}
.icon {
    img {
        width: 150px;
        height: 150px;
        //border-radius: 50%;
        object-fit: contain;
        object-position: center;
        padding: 5px;
    }
}
