@import "_variables";

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h2 {
    .basicText(8.25rem);
    opacity: 0.1;
}

.title p::before {
    content: '';
    width: 80px;
    height: 2px;
    background: #20c997;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 10px);
}

.title p {
    .basicText(2.25rem);
    position: absolute;
}
