@import "_variables";

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h2 {
    .text-props(10vw);
    text-align: center;
    opacity: 0.1;
}

.title p::before {
    content: '';
    width: 80px;
    height: 2px;
    background: @sidebar-nav-item-hover-color;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 10px);
}

.title p {
    .text-props(5vw);
    position: absolute;
}
