.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: aquamarine;
    border: 1px solid;
    height: 200px;
}

.text {
    padding: 3em 0;
    margin: 20px;
    background-color: burlywood;
    border: 1px solid;
}

.picture {
    padding: 3em 0;
    margin: 20px;
    border: 1px solid;
}