.mainBlock {
    height: 100vh;
    background: #212529;
}

.text {
    width: 300px;
    background-color: lightcoral;
}

.picture {
    width: 300px;
    /*min-height: ;*/
    background-color: lightcoral;
}
