@import "styles/AboutMe";
@import "styles/Common";
@import "styles/ContactForm";
@import "styles/OnlineJob";
@import "styles/ProjectCard";
@import "styles/Projects";
@import "styles/Cv";
@import "styles/Title";
@import "styles/Navigation";


body {
  font-family: 'Poppins', sans-serif;
}

.layout {
  margin-left: @sidebar-width;
  @media (max-width: @mobile-horizontal) {
    margin-left: 0;
  }
}

.content {
  padding: @content-block-padding;
  @media (max-width: @tablet) {
    padding: @tablet-content-block-padding;
  }
}

.d-none {
  display: none;
}
.d-flex {
  &-center {
    .flex-basic(center, center);
  }
  &-start {
    .flex-basic(flex-start, center);
  }
  &-col-center {
    .flex-column(center, center);
  }
  &-col-start {
    .flex-column(center, flex-start);
  }
}
